.accordion{
  max-width: 600px;
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.accordion ul {
  border-bottom: #ecebe9 solid 1px;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  border-left: #ecebe9 solid 1px;
  border-right: #ecebe9 solid 1px;
  list-style: none;
  margin: 0;
}
.accordion ul li h5 {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  background: #f7f6f5;
  border-top: #ecebe9 solid 1px;
  border-left: #ecebe9 solid 1px;
  border-right: #ecebe9 solid 1px;
  margin: 0;
  padding: 12px 15px 12px 50px;
  line-height: 19px;
  cursor: pointer;
  position: relative;
}
.accordion ul li h5.plus {
  border-bottom: #ecebe9 solid 1px;
}
.accordion ul li > div {
  color: #333333;
  line-height: 24px;
  padding: 15px 15px 15px 50px;
}
.accordion ul li > div a {
  color: #7f0a19;
}
.accordion ul li h5:before {
  content: "\f067";
  font-family: 'FontAwesome';
  background: #777;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 14px;
  top: 14px;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}
.accordion ul li h5.plus:before {
  content:"\f068"
}
